h1 Create new user 

form(action="/users/create", method="POST")
    label ID
    input(name="id" type="number")
    br
    
    label Name
    input(name="name" type="text")
    br

    label Age
    input(name="age" type="number")
    br

    button Create